
  <nav class="nav">
    <ul class="nav-items">
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="font-link">About</a>
      </li>
      <li class="nav-item">
        <button class="btn-link font-link" [matMenuTriggerFor]="families">Families</button>
        <mat-menu #families="matMenu">
          
          <a routerLink="/addfamily" routerLinkActive="active" class="font-link">Add family</a>
        </mat-menu>
      </li>
      <li class="nav-item">
        <a routerLink="/info" routerLinkActive="active" class="font-link">Information</a>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>