
  <nav class="nav">
    <ul class="nav-items">
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <button class="btn-link" [matMenuTriggerFor]="families" routerLink="/families" routerLinkActive="active" class="nav-link">Families</button>
        <mat-menu #families="matMenu">
          <a routerLink="/addfamily" mat-menu-item>Add family</a>
        </mat-menu>
      </li>
      <li class="nav-item">
        <a routerLink="/info" routerLinkActive="active" class="nav-link">Information</a>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>